
.cardTitle,
.cardPrice,
.detailTitle,
.detailPrice {
    color: #ea8223;
}

.cardDetalle,
.detailAdd {
    background-color: rgba(234, 130, 35, 1)
}

.cardDetalle:hover,
.detailAdd:hover {
    background-color: rgba(234, 130, 35, 0.8)
}