.header_logo {
    max-width: 500px;
}

.header_logo img {
    max-width: 100%;
}

.cart {
    background-color: orange;
    padding: 10px;
    font-size: 1.25rem;
    border-radius: 15px;
    margin-right: 5%;
    color: #fff;
}

.navBar {
    background-color: #ea8223;
    color: #fff;
}